.header {
  height: 67px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__magnifier-button {
    border: none;
    box-shadow: none;
    background: none;
  }
}